@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400&display=swap');
@font-face {
  font-family: 'Road Store';
  src: local('Road Store'), url('../fonts/ROADSTORE.ttf') format('truetype'),
    url('../fonts/ROADSTORE.otf') format('otf');
}
$beige: #eedba5;
$opacity-beige: #eedba570;
$orange: #fc9700;
$brown: #bd3800;
$opacity-brown: #bd390075;
$pink: #ffe8ff;

html,
body {
  font-family: Zilla Slab;
}
.bg-beige {
  background-color: $beige !important;
}
.bg-orange {
  background-color: $orange !important;
}
.border-orange {
  border: 2px solid $orange !important;
}
.text-red {
  color: $brown;
}

.container {
  text-align: center;
  display: grid;
  row-gap: 24px;
}

.btn {
  font-size: 24px;
}
.small-title {
  font-size: 16px;
  font-weight: bold;
}
.subtitle {
  font-size: 14px;
  font-weight: lighter;
}
.title {
  font-family: Road Store, Zilla Slab sans-serif;
  font-size: 48px;
  font-weight: 700;
  color: $brown;
}
.text {
  font-size: 20px;
}
.bold {
  font-weight: 600;
}
.label {
  font-size: 10px;
  color: grey;
}
.time {
  font-size: 10px;
}
.info {
  font-size: 24px;
  font-weight: 500;
}
svg {
  width: 100%;
  height: 100%;
}

input[type='radio'] {
  &.custom {
    appearance: none;
    background-color: $transparent;
    font: inherit;
    color: currentColor;
    width: 18px;
    height: 18px;
    border: 2px solid currentColor;
    border-radius: 50%;
    display: grid;
    place-content: center;
  }
}

input[type='radio'] {
  &.custom::before {
    content: '';
    width: 10px;
    height: 10px;
    border-radius: 50%;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em $brown;
  }
}

input[type='radio'] {
  &.custom:checked::before {
    transform: scale(1);
  }
}
